<!-- Para agregar después -->
<meta name="twitter:label1" value="Reading time">
<meta name="twitter:data1" value="1 min read">

<meta name="twitter:app:name:iphone" content="Medium">
<meta name="twitter:app:id:iphone" content="828256236">
<meta name="twitter:app:url:iphone" content="medium://p/8f2f9deb6fef">

<meta property="al:ios:app_name" content="Medium">
<meta property="al:ios:app_store_id" content="828256236">
<meta property="al:android:package" content="com.medium.reader">
<meta property="al:android:app_name" content="Medium">
<meta property="al:ios:url" content="medium://p/8f2f9deb6fef">
<meta property="al:android:url" content="medium://p/8f2f9deb6fef">
<meta property="al:web:url" content="https://medium.com/@nahuelhds/uruguaydecide-los-robots-tambi%C3%A9n-opinan-8f2f9deb6fef">
