<br/>
<hr>
<br/>
{% case include.lang %}
  {% when "es" %}
    <h2>¡Gracias por tu tiempo!</h2>
    <p>
      Soy <strong>nahuelhds</strong>. Si te gusta lo que hago, podés darme apoyo de diversas maneras:
      <ul>
        <li><a href="https://twitter.com/nahuelhds">Siguiendo mi actividad en Twitter</a></li>
        <li><a href="https://ko-fi.com/C0C5XC3Z">Comprándonme un café.</a></li>
        <li> <a href="https://www.patreon.com/nahuelhds">Dándome tu apoyo en Patreon.</a></li>
      </ul>
    </p>
  {% else %}
    <h2>Thanks for your time!</h2>
    <p>
      I'm <strong>nahuelhds</strong>. If you like what I do, you can support me in several ways:
      <ul>
        <li><a href="https://twitter.com/nahuelhds">Following my activity on Twitter</a></li>
        <li><a href="https://ko-fi.com/C0C5XC3Z">Buying me a coffee.</a></li>
        <li> <a href="https://www.patreon.com/nahuelhds">Giving me support on Patreon.</a></li>
      </ul>
    </p>
{% endcase %}
<br/>
<hr>
