<br/>
<hr>
<br/>
{% case include.lang %}
  {% when "es" %}
    <h2>¡Gracias por tu tiempo!</h2>
    <p>
      Soy <strong>nahuelhds</strong>. Si te gusta lo que hago, podés...
      <ul>
        <li><a href="https://twitter.com/nahuelhds">Seguir mi actividad en Twitter.</a></li>
        <li><a href="https://ko-fi.com/nahuelhds">Comprarme un café.</a></li>
<!--        <li> <a href="https://www.patreon.com/nahuelhds">Darme tu apoyo en Patreon.</a></li>-->
      </ul>
    </p>
  {% else %}
    <h2>Thanks for your time!</h2>
    <p>
      I'm <strong>nahuelhds</strong>. If you like what I do, you can...
      <ul>
        <li><a href="https://twitter.com/nahuelhds">Follow my activity on Twitter</a></li>
        <li><a href="https://ko-fi.com/nahuelhds">Buy me a coffee.</a></li>
<!--        <li> <a href="https://www.patreon.com/nahuelhds">Give me support on Patreon.</a></li>-->
      </ul>
    </p>
{% endcase %}
<br/>
<hr>
